{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Alpha Tech Academy</title>
    <link rel="stylesheet" href="{% static 'CSS/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'CSS/main.css' %}">
</head>
<body>
    <header>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-1 background-header-toko">
                    <p Class="font-toko">Toko Online</p>
                </div>
                <div class="col-md-10 background-header-home">
                    <p class="font-home"><a href="./home.html" >
                        Home
                    </a>
                    </p>
                </div>
            </div>
        </div>
    </header>
    {% block content %}
    {% endblock %}
        </div>
    </div>
</body>